// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winner {
  font-weight: bold;
  font-size: 140%;
  color: red;
  padding-left: 20px;
}